body {
  background-color: #17A10B;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.main-area {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.main-heading {
  margin: 0;
  margin-right: 0 auto;
  font-size: 36px;
  color: #800000;
  text-align: center;
}

.select-lang {
  position: absolute;
  right: 0;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tasbih-design {
  text-align: center;
}

.tasbih-design__year {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.tasbih-design__time {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.zikr-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 7px;
  font-size: 16px;
  color: #800000;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 145, 255, 0.863) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &:active {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}

