body {
  background-color: #17A10B;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
}

.main-heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  color: #800000;
  text-align: center;
}

.tasbih-design {
  text-align: center;
}

.tasbih-design__year {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.tasbih-design__time {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.zikr-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 7px;
  font-size: 16px;
  color: #800000;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 145, 255, 0.863) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &:active {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}

